<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h1>General Stats</h1>
<table class="table table-bordered" >
  <thead>
    <tr>
      <td>test 1</td>
      <td>test 2</td>
    </tr>
    <tr>
      <td>test 3</td>
      <td>test 4</td>
  </tr>
  </thead>
</table>